
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuario = (Inventario.Models.usuario)Session["Usuario"];
}

<div class="text-center">
    <br />
    <br />
    <img class="logo-img" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/664/6417604664_7b3f693a-8829-40c9-be36-20aea458b18f.png?cb=1637693340" alt="">
    <br />
    <br />
</div>

<div class="text-center" role="group" aria-label="Basic mixed styles example">

    <a href="https://localhost:44354/CRUD/EmpleadoIndex" class="btn btn-outline-warning">Empleados</a>

    <a href="https://localhost:44354/CRUD/EquipoIndex" class="btn btn-outline-info">Equipos</a>

    <a href="https://localhost:44354/CRUD/AccesoriosIndex" id="Ex" class="btn btn-outline-success">Accesorios</a>

    <a href="https://localhost:44354/CRUD/MonitorIndex" class="btn btn-outline-warning">Monitores</a>

</div>


<br />
<br />
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="4000">
            <img src="~/FrontEnd/dist/img/Blog_What-is-Inventory.png" class="d-block w-100" alt="..." height="600" width="600">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="~/FrontEnd/dist/img/Inventory-Reduction-Strategies-For-Excess-Or-Slow-Moving-Stock.jpg" class="d-block w-100" alt="..." height="600" width="600">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="~/FrontEnd/dist/img/inventory-control-software.jpg" class="d-block w-100" alt="..." height="600" width="600">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />

