
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuario = (Inventario.Models.usuario)Session["Usuario"];
}

<br />
<div class="btn-group" role="group" aria-label="Basic mixed styles example">

    <a href="https://edeeste.com.do/inicio/sobre-nosotros/quienes-somos/" target="_blank" class="btn btn-outline-warning">Conocenos!</a>

    <a href="https://edeeste.com.do/inicio/aprende-con-edeeste/donde-pagar/" target="_blank" class="btn btn-outline-info">Canales de pago</a>

    <a href="https://edeeste.com.do/inicio/servicios/cita-presencial/" target="_blank" class="btn btn-outline-primary">Oficina virtual</a>

    <a href="http://intranetedeeste/" target="_blank" id="Ex" class="btn btn-outline-success">Intranet</a>

    <a href="https://edeeste.com.do/inicio/calcular-consumo/" target="_blank" class="btn btn-outline-warning">Calcular consumo</a>

</div>


<br />
<br />
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="4000">
            <img src="~/FrontEnd/dist/img/Logo-EDEEste-Azul-Amarillo.png" class="d-block w-100" alt="..." height="600" width="600">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="~/FrontEnd/dist/img/oficina-comercial-jumbo_13762324_20200427173258.jpg" class="d-block w-100" alt="..." height="600" width="600">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="~/FrontEnd/dist/img/Call-Center.png" class="d-block w-100" alt="..." height="600" width="600">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="~/FrontEnd/dist/img/Ingeniero-Tomas-Ozuna-Tapia-durante-la-rueda-de-prensa-768x457.jpg" class="card-img-top" alt="..." height="250" width="130">
            <div class="card-body">
                <h5 class="card-title">Revelan EDE Este invirtió en los últimos 8 años US$486 millones de manera ineficiente</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/FrontEnd/dist/img/Servicio-al-Cliente-de-EDE-Este-624x416.jpg" class="card-img-top" alt="..." height="250" width="130">
            <div class="card-body">
                <h5 class="card-title">EDE Este ofrecerá facilidades a sus clientes para saldar deudas</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/FrontEnd/dist/img/Tecnicos-de-las-instituciones-en-una-de-las-inspecciones-300x200.jpg" class="card-img-top" alt="..." height="250" width="130">
            <div class="card-body">
                <h5 class="card-title">Protecom y Pro Consumidor presentan resultados preliminares revisión facturas en Mesa Técnica</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>

</div>
<br />


